GEEMAP BASE CODE

https://github.com/gee-community/geemap/blob/master/examples/notebooks/random_sampling.ipynb

In [11]:
import ee
import geemap
import geopandas as gpd
import json
import os

# Run as service account
service_account = '...com'
credentials = ee.ServiceAccountCredentials(service_account, '.private-key.json')

ee.Initialize(credentials)

Map = geemap.Map(center=[43.7196, 10.4250], zoom=5)
# Map

In [12]:
image = ee.Image('LANDSAT/LE7_TOA_5YEAR/1999_2003').select(
    ['B1', 'B2', 'B3', 'B4', 'B5', 'B7']
)

In [13]:
countries = ee.FeatureCollection("USDOS/LSIB_SIMPLE/2017")
Italy = countries.filter(ee.Filter.eq('country_na', 'Italy'))

In [14]:
random_points = geemap.random_sampling(image, Italy, numPixels=5000)

Map.addLayer(random_points, {}, "Random Sampling")
Map

Map(center=[43.7196, 10.425], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=HBox(chil…

In [15]:
df = geemap.ee_to_pandas(random_points)
df

      B1  B2  B3  B4  B5  B7
0     26  20  17  50  37  15
1     35  37  43  70  83  59
2     36  42  48  70  89  58
3     24  19  13  38  24  14
4     30  25  22  49  41  19
...   ..  ..  ..  ..  ..  ..
4995  28  24  16  64  34  14
4996  58  42  33  35  11   9
4997  29  23  18  71  43  21
4998  29  27  27  61  48  25
4999  35  38  38  74  65  44

[5000 rows x 6 columns]